---
# We'll use defaults from the Google style.
# See http://clang.llvm.org/docs/ClangFormat.html for help.
Language:      Cpp
BasedOnStyle:  Google
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: false
IncludeCategories:
  - Regex:           '^<.*\.h>'
    Priority:        1
    SortPriority:    0
  - Regex:           '^<.*\.hpp>'
    Priority:        3
    SortPriority:    0
  - Regex:           '^<.*\.hxx>'
    Priority:        4
    SortPriority:    0
  - Regex:           '^<.*'
    Priority:        2
    SortPriority:    0
  - Regex:           '.*/.*'
    Priority:        5
    SortPriority:    0
  - Regex:           '.*'
    Priority:        6
    SortPriority:    0
...
